<section class="cd-faq">
    <style>
        .speak-icon{    
            float: right;
            color: white;
            padding-right: 5px;

        }
        .fa-key{
            color:#e45e38;

        }
        .cd-faq-trigger{
            font-weight:bold;

        }
        @@media only screen and (max-width: 500px) {
            .cd-faq-items {
                position:relative;
                height:auto;
            }
            .cd-faq-trigger:hover, .cd-faq-trigger:focus {
                color:#43538f;
            }
            .cd-faq-content p {
                color:#000;
            }
            .cd-faq-content {
                display:none;
            }
        }
    </style>
    <ul class="cd-faq-categories">
        <li><a class="selected" href="#housing">Housing</a></li>
        <li><a href="#mobile">Welfare and Benefits</a></li>
        <li><a href="#account">Immigration</a></li>
        <li><a href="#payments">Employment</a></li>
    </ul> <!-- cd-faq-categories -->

    <div class="cd-faq-items">
        <ul id="housing" class="cd-faq-group">
            <li class="cd-faq-title"><h2>Housing</h2></li>
            <li style="width:200px;padding:0px;margin:0px;background: #fff;color: #3b497e;">
                <a href="#" class="cd-faq-trigger" style="height: 30px;height: 30px;color: #3b497e;padding-bottom: 34px;" onclick="speak($(this).parent('li').next('li').text());">Speak <i class="fa fa-volume-up fa-2x"></i></a>
            </li>
            <li>
                <a class="cd-faq-trigger" href="#0">
                    I am homeless what can I do?</a>
                    <div class="cd-faq-content">
                        <p>
                            You can apply to the council for help as a homeless person if you don't have anywhere to live. They can help you during office hours with advice and referrals to emergency accommodation. You can call the Hackney Council housing team on 020 8356 2929.

                            The council probably won't help you with emergency accommodation if you are a single person, in good health and don't have any dependent children. But if you are pregnant, have children or have serious health or mental health issues, the council could find you emergency accommodation if it thinks <a href="http://england.shelter.org.uk/get_advice/homelessness/help_from_the_council_when_homeless/priority_need"> you are homeless and in priority need.</a>
                        </p>
                            <ul style="color:white">
                                <li>
                                    - If you are under the age of 18, the Hackney Council's social services department shoud help you. You can call them on 020 8356 2929
                                </li>
                                <li>
                                   - If you still find yourself without a place to stay, day centres are a safe warm place you can go during the day. They can help with food, clothes and showers, advise you on your housing rights and refer you into emergency accommodation.
                                </li>
                                <li>
                                   - Check <a href="http://england.shelter.org.uk/get_advice/homelessness/homeless_and_on_the_streets/?a=741775">Homeless UK</a> for details of the nearest day centre to you.
                                </li>
                                <li>
                                   - Advice services are usually open during office hours, Monday to Friday. Use the
                                    <a href="http://england.shelter.org.uk/get_advice/homelessness/homeless_and_on_the_streets/?a=654344">Homeless UK directory</a> to find a local advice service to help you.
                                </li>
                                <li>
                                   - Use
                                    <a href="http://england.shelter.org.uk/get_advice/advice_services_directory">Shelter's advice services directory</a> to find a face-to-face adviser near you.
                                </li>
                            </ul>
                        <p>Still need help?</p>
                        <a href="/register?category=housing"> <i class="fa fa-key fa-2x">Open a case</i></a>
                    </div> <!-- cd-faq-content -->
            </li>
            <li style="width:200px;padding:0px;margin:0px;background: #fff;color: #3b497e;">
                <a href="#" class="cd-faq-trigger" style="height: 30px;height: 30px;color: #3b497e;padding-bottom: 34px;" onclick="speak($(this).parent('li').next('li').text());">Speak <i class="fa fa-volume-up fa-2x"></i></a>
            </li>
            <li>
                <a class="cd-faq-trigger" href="#0">I am being evicted what can I do?</a>
                <div class="cd-faq-content">
                    <p>Eviction can happen for a number of reasons, but it is important to act quickly</p><a href="/register?category=housing"> <i class="fa fa-key fa-2x" >Open a case</i></a>
                </div> <!-- cd-faq-content -->
            </li>
            <li style="width:200px;padding:0px;margin:0px;background: #fff;color: #3b497e;">
                <a href="#" class="cd-faq-trigger" style="height: 30px;height: 30px;color: #3b497e;padding-bottom: 34px;" onclick="speak($(this).parent('li').next('li').text());">Speak <i class="fa fa-volume-up fa-2x"></i></a>
            </li>
            <li>
                <a class="cd-faq-trigger" href="#0">My housing benefit has been stopped</a>
                <div class="cd-faq-content">
                    <p>Contact Hackney Council’s Housing Benefit Office on 020 8356 3399 to understand why your benefit has been stopped.

If you believe the Housing Benefit Office is wrong to stop your benefit</p> <a href="/register?category=housing"> <i class="fa fa-key fa-2x" >Open a case</i></a>
                </div> <!-- cd-faq-content -->
            </li>
        </ul> <!-- cd-faq-group -->

        <ul id="mobile" class="cd-faq-group">
            <li class="cd-faq-title"><h2>Welfare and Benefits</h2></li>
            <li style="width:200px;padding:0px;margin:0px;background: #fff;color: #3b497e;">
                <a href="#" class="cd-faq-trigger" style="height: 30px;height: 30px;color: #3b497e;padding-bottom: 34px;" onclick="speak($(this).parent('li').next('li').text());">Speak <i class="fa fa-volume-up fa-2x"></i></a>
            </li>
            <li>
                <a class="cd-faq-trigger" href="#0">My housing benefit has been stopped</a>
                <div class="cd-faq-content">
                    <p>
                        Contact Hackney Council’s Housing Benefit Office on 020 8356 3399 to understand why your benefit has been stopped.

                        If you believe the Housing Benefit Office is wrong to stop your benefit
                    </p><a href="/register?category=welfare%20and%20benefits"> <i class="fa fa-key fa-2x" >Open a case</i></a>
                </div> <!-- cd-faq-content -->
            </li>
            <li style="width:200px;padding:0px;margin:0px;background: #fff;color: #3b497e;">
                <a href="#" class="cd-faq-trigger" style="height: 30px;height: 30px;color: #3b497e;padding-bottom: 34px;" onclick="speak($(this).parent('li').next('li').text());">Speak <i class="fa fa-volume-up fa-2x"></i></a>
            </li>
            <li>
                <a class="cd-faq-trigger" href="#0">I have a problem with my personal independence payments (PIP)</a>
                <div class="cd-faq-content">
                    <p>
                        New applications for PIP are made by calling the Department for Work and Pensions on 0800 917 2222.

                        You’ll be asked for information like:

                        -       contact details and date of birth
                        -       National Insurance number
                        -       bank or building society details
                        -       doctor’s or health worker’s name
                        -       details of any time you’ve spent abroad, or in a care home or hospital

                        If you need assistance with your application, or if your payments have been stopped
                    </p> <a href="/register?category=welfare%20and%20benefits"> <i class="fa fa-key fa-2x">Open a case</i></a>
                </div> <!-- cd-faq-content -->
            </li>
            <li style="width:200px;padding:0px;margin:0px;background: #fff;color: #3b497e;">
                <a href="#" class="cd-faq-trigger" style="height: 30px;height: 30px;color: #3b497e;padding-bottom: 34px;" onclick="speak($(this).parent('li').next('li').text());">Speak <i class="fa fa-volume-up fa-2x"></i></a>
            </li>
            <li>
                <a class="cd-faq-trigger" href="#0">My benefits have been sanctioned</a>
                <div class="cd-faq-content">
                    <p>      
                        In order to continue to receive certain benefits, you must do certain things. If you stop doing those things, your benefits may stop or they may even be reclaimed.

                        If your benefits have stopped, or are being reclaimed
                    </p> <a href="/register?category=welfare%20and%20benefits"> <i class="fa fa-key fa-2x">Open a case</i></a>
                </div> <!-- cd-faq-content -->
            </li>

        </ul> <!-- cd-faq-group -->

        <ul id="account" class="cd-faq-group">
            <li class="cd-faq-title"><h2>Immigration</h2></li>
            <li style="width:200px;padding:0px;margin:0px;background: #fff;color: #3b497e;">
                <a href="#" class="cd-faq-trigger" style="height: 30px;height: 30px;color: #3b497e;padding-bottom: 34px;" onclick="speak($(this).parent('li').next('li').text());">Speak <i class="fa fa-volume-up fa-2x"></i></a>
            </li>
            <li>
                <a class="cd-faq-trigger" href="#0">I am claiming asylum or appealing an asylum ruling</a>
                <div class="cd-faq-content">
                    <p>
                        To be eligible to claim asylum, you must have left your country and be unable to return because of a fear of persecution.

                        If you believe you are entitled to claim asylum, or if you are appealing an asylum ruling
                    </p> <a href="/register?category=immigration"> <i class="fa fa-key fa-2x">Open a case</i></a>
                </div> <!-- cd-faq-content -->
            </li>
            <li style="width:200px;padding:0px;margin:0px;background: #fff;color: #3b497e;">
                <a href="#" class="cd-faq-trigger" style="height: 30px;height: 30px;color: #3b497e;padding-bottom: 34px;" onclick="speak($(this).parent('li').next('li').text());">Speak <i class="fa fa-volume-up fa-2x"></i></a>
            </li>
            <li>
                <a class="cd-faq-trigger" href="#0">I am being deported or being detained</a>
                <div class="cd-faq-content">
                    <p>
                        If you are facing deportation or detention, it is important to act quickly
                    </p> <a href="/register?category=immigration"> <i class="fa fa-key fa-2x">Open a case</i></a>
                </div> <!-- cd-faq-content -->
            </li>
            <li style="width:200px;padding:0px;margin:0px;background: #fff;color: #3b497e;">
                <a href="#" class="cd-faq-trigger" style="height: 30px;height: 30px;color: #3b497e;padding-bottom: 34px;" onclick="speak($(this).parent('li').next('li').text());">Speak <i class="fa fa-volume-up fa-2x"></i></a>
            </li>
            <li>
                <a class="cd-faq-trigger" href="#0">I have a hearing before the Asylum & Immigration Tribunal</a>
                <div class="cd-faq-content">
                    <p>
                        We may be able to assist in presenting your case:
                    </p> <a href="/register?category=immigration"> <i class="fa fa-key fa-2x">Open a case</i></a>
                </div> <!-- cd-faq-content -->
            </li>
          
        </ul> <!-- cd-faq-group -->

        <ul id="payments" class="cd-faq-group">
            <li class="cd-faq-title"><h2>Employment</h2></li>
            <li style="width:200px;padding:0px;margin:0px;background: #fff;color: #3b497e;">
                <a href="#" class="cd-faq-trigger" style="height: 30px;height: 30px;color: #3b497e;padding-bottom: 34px;" onclick="speak($(this).parent('li').next('li').text());">Speak <i class="fa fa-volume-up fa-2x"></i></a>
            </li>
            <li>
                <a class="cd-faq-trigger" href="#0">I have lost my job</a>
                <div class="cd-faq-content">
                    <p>
                        If you have been dismissed, made redundant, or lost your job in circumstances you feel are unfair:
                    </p> <a href="/register?category=employment"> <i class="fa fa-key fa-2x">Open a case</i></a>
                </div> <!-- cd-faq-content -->
            </li>
            <li style="width:200px;padding:0px;margin:0px;background: #fff;color: #3b497e;">
                <a href="#" class="cd-faq-trigger" style="height: 30px;height: 30px;color: #3b497e;padding-bottom: 34px;" onclick="speak($(this).parent('li').next('li').text());">Speak <i class="fa fa-volume-up fa-2x"></i></a>
            </li>
            <li>
                <a class="cd-faq-trigger" href="#0"> I have been discriminated against at work</a>
                <div class="cd-faq-content">
                    <p>
                        It is against the law for you to be discriminated against at work. If you feel you have been treated differently at work for reasons relating to your race, religion, gender or disability, you may be entitled to make a claim at the Employment Tribunal.

                        In the first instance, you should make a complaint directly to your employer.

                        If you have made a complaint but you feel it has not been resolved:
                    </p> <a href="/register?category=employment"> <i class="fa fa-key fa-2x">Open a case</i></a>
                </div> <!-- cd-faq-content -->
            </li>
            <li style="width:200px;padding:0px;margin:0px;background: #fff;color: #3b497e;">
                <a href="#" class="cd-faq-trigger" style="height: 30px;height: 30px;color: #3b497e;padding-bottom: 34px;" onclick="speak($(this).parent('li').next('li').text());">Speak <i class="fa fa-volume-up fa-2x"></i></a>
            </li>
            <li>
                <a class="cd-faq-trigger" href="#0">I have a problem with my salary</a>
                <div class="cd-faq-content">
                    <p>
                        Employers are required by law to pay the national minimum wage. If you have not received the national minimum wage on an hourly basis for the hours you have worked, or if you have another problem with receiving your salary:
                    </p> <a href="/register?category=employment"> <i class="fa fa-key fa-2x">Open a case</i></a>
                </div> <!-- cd-faq-content -->
            </li>
        </ul> <!-- cd-faq-group -->

    </div> <!-- cd-faq-items -->
    <a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->

@section scripts{
<script>
    jQuery(document).ready(function ($) {
    //update these values if you change these breakpoints in the style.css file (or _layout.scss if you use SASS)
    var MqM= 768,
        MqL = 1024;

    var faqsSections = $('.cd-faq-group'),
        faqTrigger = $('.cd-faq-trigger'),
        faqsContainer = $('.cd-faq-items'),
        faqsCategoriesContainer = $('.cd-faq-categories'),
        faqsCategories = faqsCategoriesContainer.find('a'),
        closeFaqsContainer = $('.cd-close-panel');
            
    //select a faq section 
    faqsCategories.on('click', function(event){
        event.preventDefault();
        var selectedHref = $(this).attr('href'),
            target= $(selectedHref);
        if( $(window).width() < MqM) {
            faqsContainer.scrollTop(0).addClass('slide-in').children('ul').removeClass('selected').end().children(selectedHref).addClass('selected');
            closeFaqsContainer.addClass('move-left');
            $('body').addClass('cd-overlay');
        } else {
            $('body,html').animate({ 'scrollTop': target.offset().top - 19}, 200); 
        }
    });

    //close faq lateral panel - mobile only
    $('body').bind('click touchstart', function(event){
        if( $(event.target).is('body.cd-overlay') || $(event.target).is('.cd-close-panel')) { 
            closePanel(event);
        }
    });
    faqsContainer.on('swiperight', function(event){
        closePanel(event);
    });

    //show faq content clicking on faqTrigger
    faqTrigger.on('click', function(event){
        event.preventDefault();
        $(this).next('.cd-faq-content').slideToggle(200).end().parent('li').toggleClass('content-visible');
    });

    //update category sidebar while scrolling
    $(window).on('scroll', function(){
        if ( $(window).width() > MqL ) {
            (!window.requestAnimationFrame) ? updateCategory() : window.requestAnimationFrame(updateCategory); 
        }
    });

    $(window).on('resize', function(){
        if($(window).width() <= MqL) {
            faqsCategoriesContainer.removeClass('is-fixed').css({
                '-moz-transform': 'translateY(0)',
                '-webkit-transform': 'translateY(0)',
                '-ms-transform': 'translateY(0)',
                '-o-transform': 'translateY(0)',
                'transform': 'translateY(0)',
            });
        }   
        if( faqsCategoriesContainer.hasClass('is-fixed') ) {
            faqsCategoriesContainer.css({
                'left': faqsContainer.offset().left,
            });
        }
    });

    function closePanel(e) {
        e.preventDefault();
        faqsContainer.removeClass('slide-in').find('li').show();
        closeFaqsContainer.removeClass('move-left');
        $('body').removeClass('cd-overlay');
    }

    function updateCategory(){
        updateCategoryPosition();
        updateSelectedCategory();
    }

    function updateCategoryPosition() {
        var top = $('.cd-faq').offset().top,
            height = jQuery('.cd-faq').height() - jQuery('.cd-faq-categories').height(),
            margin = 20;
        if( top - margin <= $(window).scrollTop() && top - margin + height > $(window).scrollTop() ) {
            var leftValue = faqsCategoriesContainer.offset().left,
                widthValue = faqsCategoriesContainer.width();
            faqsCategoriesContainer.addClass('is-fixed').css({
                'left': leftValue,
                'top': margin,
                '-moz-transform': 'translateZ(0)',
                '-webkit-transform': 'translateZ(0)',
                '-ms-transform': 'translateZ(0)',
                '-o-transform': 'translateZ(0)',
                'transform': 'translateZ(0)',
            });
        } else if( top - margin + height <= $(window).scrollTop()) {
            var delta = top - margin + height - $(window).scrollTop();
            faqsCategoriesContainer.css({
                '-moz-transform': 'translateZ(0) translateY('+delta+'px)',
                '-webkit-transform': 'translateZ(0) translateY('+delta+'px)',
                '-ms-transform': 'translateZ(0) translateY('+delta+'px)',
                '-o-transform': 'translateZ(0) translateY('+delta+'px)',
                'transform': 'translateZ(0) translateY('+delta+'px)',
            });
        } else { 
            faqsCategoriesContainer.removeClass('is-fixed').css({
                'left': 0,
                'top': 0,
            });
        }
    }

    function updateSelectedCategory() {
        faqsSections.each(function(){
            var actual = $(this),
                margin = parseInt($('.cd-faq-title').eq(1).css('marginTop').replace('px', '')),
                activeCategory = $('.cd-faq-categories a[href="#'+actual.attr('id')+'"]'),
                topSection = (activeCategory.parent('li').is(':first-child')) ? 0 : Math.round(actual.offset().top);
                    
            if ( ( topSection - 20 <= $(window).scrollTop() ) && ( Math.round(actual.offset().top) + actual.height() + margin - 20 > $(window).scrollTop() ) ) {
                activeCategory.addClass('selected');
            }else {
                activeCategory.removeClass('selected');
            }
        });
    }
    });
</script>
}