@{ 
    Layout = "~/Views/Shared/_Styleguide_Layout.cshtml";
}

<main>
    <h1>Style Guide 1.0</h1>
    <section id="branding" class="cd-branding">
        <h2>Branding</h2>
        <ul>
            <li class="cd-box"><img src="~/client/images/hackney_law_center_logo.jpeg" alt="Logo version 1"></li>
            <li class="cd-box"><img class="img-large" src="~/client/images/hackney_logo_large.jpeg" alt="Logo version 2"></li>
        </ul>
        <ul>
            <li><img src="~/client/images/hackney_logo.jpeg" alt="Hackney Icon 1"></li>
            <li><img src="~/client/images/hackney_logo.jpeg" alt="Hackney Icon 2"></li>
            <li><img src="~/client/images/hackney_logo.jpeg" alt="Hackney Favicon 1"></li>
            <li><img src="~/client/images/hackney_logo.jpeg" alt="hackney Favicon 2"></li>
        </ul>
    </section>
    <section id="colors" class="cd-colors">
        <h2>Colors</h2>
        <ul>
            <li class="cd-box">
                <div class="cd-color-name">$color-1</div>
                <div class="cd-color-swatch"></div>
            </li>
            <li class="cd-box">
                <div class="cd-color-name">$color-2</div>
                <div class="cd-color-swatch"></div>
            </li>
            <li class="cd-box">
                <div class="cd-color-name">$color-3</div>
                <div class="cd-color-swatch"></div>
            </li>
            <li class="cd-box">
                <div class="cd-color-name">$color-4</div>
                <div class="cd-color-swatch"></div>
            </li>
            <li class="cd-box">
                <div class="cd-color-name">$color-5</div>
                <div class="cd-color-swatch"></div>
            </li>
        </ul>
    </section>
    <section id="typography" class="cd-typography">
        <h2>Typography</h2>
        <div class="cd-box">
            <h1>Heading, <span></span></h1>
            <p>Aa - <span></span>. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis voluptate distinctio reprehenderit, autem deleniti ad <a href="#0">voluptatum eaque</a>. Optio ea aperiam nisi distinctio nemo repellat, voluptate fugiat. Quidem neque illum, blanditiis!</p>
        </div>
    </section>
    <section id="buttons" class="cd-buttons">
        <h2>Buttons</h2>
        <div class="cd-box">
            <button class="btn">Normal</button>
            <button class="btn btn-success">Success</button>
            <button class="btn btn-alert">Alert</button>
            <button class="btn btn-outline">Outline</button>
        </div>
    </section>
    <section id="icons" class="cd-icons">
        <h2>Icons</h2>
        <div class="row cd-box">

            <div class="fa-hover col-md-3 col-sm-4"><span title="../icon/bluetooth"><i class="fa fa-bluetooth"></i> bluetooth</span></div>

            <div class="fa-hover col-md-3 col-sm-4"><span title="../icon/bluetooth-b"><i class="fa fa-bluetooth-b"></i> bluetooth-b</span></div>

            <div class="fa-hover col-md-3 col-sm-4"><span title="../icon/codiepie"><i class="fa fa-codiepie"></i> codiepie</span></div>

            <div class="fa-hover col-md-3 col-sm-4"><span title="../icon/credit-card-alt"><i class="fa fa-credit-card-alt"></i> credit-card-alt</span></div>

            <div class="fa-hover col-md-3 col-sm-4"><span title="../icon/edge"><i class="fa fa-edge"></i> edge</span></div>

            <div class="fa-hover col-md-3 col-sm-4"><span title="../icon/fort-awesome"><i class="fa fa-fort-awesome"></i> fort-awesome</span></div>

            <div class="fa-hover col-md-3 col-sm-4"><span title="../icon/hashtag"><i class="fa fa-hashtag"></i> hashtag</span></div>

            <div class="fa-hover col-md-3 col-sm-4"><span title="../icon/mixcloud"><i class="fa fa-mixcloud"></i> mixcloud</span></div>

            <div class="fa-hover col-md-3 col-sm-4"><span title="../icon/modx"><i class="fa fa-modx"></i> modx</span></div>

            <div class="fa-hover col-md-3 col-sm-4"><span href="../icon/pause-circle"><i class="fa fa-pause-circle"></i> pause-circle</span></div>

            <div class="fa-hover col-md-3 col-sm-4"><span title="../icon/pause-circle-o"><i class="fa fa-pause-circle-o"></i> pause-circle-o</span></div>

            <div class="fa-hover col-md-3 col-sm-4"><span title="../icon/percent"><i class="fa fa-percent"></i> percent</span></div>

            <div class="fa-hover col-md-3 col-sm-4"><span href="../icon/product-hunt"><i class="fa fa-product-hunt"></i> product-hunt</span></div>

            <div class="fa-hover col-md-3 col-sm-4"><span title="../icon/reddit-alien"><i class="fa fa-reddit-alien"></i> reddit-alien</span></div>

            <div class="fa-hover col-md-3 col-sm-4"><span title="../icon/scribd"><i class="fa fa-scribd"></i> scribd</span></div>

            <div class="fa-hover col-md-3 col-sm-4"><span title="../icon/shopping-bag"><i class="fa fa-shopping-bag"></i> shopping-bag</span></div>

            <div class="fa-hover col-md-3 col-sm-4"><span title="../icon/shopping-basket"><i class="fa fa-shopping-basket"></i> shopping-basket</span></div>

            <div class="fa-hover col-md-3 col-sm-4"><span title="../icon/stop-circle"><i class="fa fa-stop-circle"></i> stop-circle</span></div>

            <div class="fa-hover col-md-3 col-sm-4"><span title="../icon/stop-circle-o"><i class="fa fa-stop-circle-o"></i> stop-circle-o</span></div>

            <div class="fa-hover col-md-3 col-sm-4"><span title="../icon/usb"><i class="fa fa-usb"></i> usb</span></div>


        </div>
    </section>
    <section id="form" class="cd-form">
        <h2>Form</h2>

        <div class="cd-box">
            <form>
                <fieldset>
                    <input type="text" placeholder="Enter text...">
                    <input class="success" type="text" placeholder="Enter text...">
                    <input class="alert" type="text" placeholder="Enter text...">
                </fieldset>
                <fieldset>
                    <div class="cd-input-wrapper">
                        <input type="radio" name="radioButton" id="radio1">
                        <label class="radio-label" for="radio1">Choice 1</label>
                    </div>
                    <div class="cd-input-wrapper">
                        <input type="checkbox" id="checkbox1">
                        <label class="checkbox-label" for="checkbox1">Option 1</label>
                    </div>
                    <div class="cd-input-wrapper cd-select">
                        <select name="select-this" id="select-this">
                            <option value="0">Select</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="2">Option 3</option>
                        </select>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
</main>