<section class="choose-problem">
<div class="container-fluid">
    <h1 class="text-center">Client Portal</h1>
    <div class="col-md-4 item benefits animated bounceIn" data-toggle="tooltip" data-placement="top" data-html="true" title data-original-title="<p style='padding:0; margin:0;font-size:18px;'>Latest status/alerts</p>">
        <a href="http://track.concordnow.com/track/click/30832760/secure.concordnow.com?p=eyJzIjoiVjU2N1RkNnlDRUNHaXdhTk50RVFGTEpBUDcwIiwidiI6MSwicCI6IntcInVcIjozMDgzMjc2MCxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3NlY3VyZS5jb25jb3Jkbm93LmNvbVxcXC9uZWdvdGlhdGlvblxcXC92aWV3XFxcLzUxOTY1XCIsXCJpZFwiOlwiOWFmZDU5ZTU1MGJhNDM3MTgwZTViYzMxNzNiZGVhOWZcIixcInVybF9pZHNcIjpbXCIyNDJkNzI0NmU1OWMzYmMyMzExYjdkYjExOWRjOGJlN2Q5YWE0NjgyXCJdfSJ9">
            <div class="item-inner">
                <h2 class="item-title" style="text-align: center;padding-left:0">
                    <i class="fa fa-file-text" style="position:static;"></i><br>Forms
                </h2>
            </div>
        </a>
    </div>

    <div class="col-md-4 item benefits animated bounceIn" data-toggle="tooltip" data-placement="top" data-html="true" title data-original-title="<p style='padding:0; margin:0;font-size:18px;'>Messages</p>">
        <a href="/messages/">
            <div class="item-inner">
                <h2 class="item-title" style="text-align: center;padding-left:0">
                    <i class="fa fa-hashtag" style="position:static;"></i><br>Messages
                </h2>
            </div>
        </a>
    </div>

    <div class="col-md-4 item benefits animated bounceIn" data-toggle="tooltip" data-placement="top" data-html="true" title data-original-title="<p style='padding:0; margin:0;font-size:18px;'>Upload/View Documents</p>">
        <a href="/documents/">
            <div class="item-inner">
                <h2 class="item-title" style="text-align: center;padding-left:0">
                    <i class="fa fa-cloud-upload" style="position:static;"></i><br>Upload/View Documents
                </h2>
            </div>
        </a>
    </div>
    <div class="col-md-4 item benefits animated bounceIn" data-toggle="tooltip" data-placement="top" data-html="true" title data-original-title="<p style='padding:0; margin:0;font-size:18px;'>Calendar</p>">
        <a href="/calendar/">
            <div class="item-inner">
                <h2 class="item-title" style="text-align: center;padding-left:0">
                    <i class="fa fa-calendar" style="position:static;"></i><br>Calendar
                </h2>
            </div>
        </a>
    </div>

    <div class="col-md-4 item benefits animated bounceIn" data-toggle="tooltip" data-placement="top" data-html="true" title data-original-title="<p style='padding:0; margin:0;font-size:18px;'>Useful Information</p>">
        <a href="/Information/">
            <div class="item-inner">
                <h2 class="item-title" style="text-align: center;padding-left:0">
                    <i class="fa fa-info-circle" style="position:static;"></i><br>Useful Information
                </h2>
            </div>
        </a>
    </div>

    <div class="col-md-4 item benefits animated bounceIn" data-toggle="tooltip" data-placement="top" data-html="true" title data-original-title="<p style='padding:0; margin:0;font-size:18px;'>Your Details</p>">
        <a href="/Details/">
            <div class="item-inner">
                <h2 class="item-title" style="text-align: center; padding-left:0">
                    <i class="fa fa-user" style="position:static;"></i><br>Your Details
                </h2>
            </div>
        </a>
    </div>
</div>
</section>