
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="lawyer-portal" style="margin-bottom:80px;">
    <div class="container-fluid">
        <div class="row">
            <h1 class="text-center">Lawyer Portal</h1>
            <div class="col-md-4 item housing animated bounceIn" data-toggle="tooltip" data-placement="top" data-html="true" title data-original-title="<p style='padding:0; margin:0;font-size:18px;'>Open Cases</p>">
                <a href="/ticket/">
                    <div class="item-inner">
                        <i class="fa fa-ticket"></i>
                        <h2 class="item-title">Open Cases</h2>
                    </div>
                </a>
            </div>
            <div class="col-md-4 item benefits animated bounceIn" data-toggle="tooltip" data-placement="top" data-html="true" title data-original-title="<p style='padding:0; margin:0;font-size:18px;'>New Jobs</p>">
                <a href="/NewJobs/">
                    <div class="item-inner">
                        <i class="fa fa-list-alt"></i>
                        <h2 class="item-title">New Client</h2>
                    </div>
                </a>
            </div>
            <div class="col-md-4 item immigration animated bounceIn" data-toggle="tooltip" data-placement="top" data-html="true" title data-original-title="<p style='padding:0; margin:0;font-size:18px;'>Calendar</p>">
                <a href="/Calendar/">
                    <div class="item-inner">
                        <i class="fa fa-calendar"></i>
                        <h2 class="item-title">Calendar</h2>
                    </div>
                </a>
            </div>
            <div class="col-md-4 item employment animated bounceIn" data-toggle="tooltip" data-placement="top" data-html="true" title data-original-title="<p style='padding:0; margin:0;font-size:18px;'>Documents</p>">
                <a href="/Documents/">
                    <div class="item-inner">
                        <i class="fa fa-file"></i>
                        <h2>Documents</h2>
                    </div>
                </a>
            </div>
            <div class="col-md-4 item employment animated bounceIn" data-toggle="tooltip" data-placement="top" data-html="true" title data-original-title="<p style='padding:0; margin:0;font-size:18px;'>Analytics</p>">
                <a href="/Analytics/">
                    <div class="item-inner">
                        <i class="fa fa-pie-chart"></i>
                        <h2 class="item-title">Analytics</h2>
                    </div>
                </a>
            </div>
            <div class="col-md-4 item employment animated bounceIn" data-toggle="tooltip" data-placement="top" data-html="true" title data-original-title="<p style='padding:0; margin:0;font-size:18px;'>Your Details</p>">
                <a href="/Profile/">
                    <div class="item-inner">
                        <i class="fa fa-user"></i>
                        <h2 class="item-title">Your Profile</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="useful-links" style="display:none;">
    <div class="container">
        <h2>
            Useful Links
        </h2>
        <p>Useful information and advice can be found on the following sites:</p>
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li><i class="fa fa-arrow-right fa-fw"></i> Albert Kennedy Trust</li>
                    <li><i class="fa fa-arrow-right fa-fw"></i> Make an appointment.</li>
                    <li><i class="fa fa-arrow-right fa-fw"></i> Make an appointment.</li>
                    <li><i class="fa fa-arrow-right fa-fw"></i>Make an appointment.</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li><i class="fa fa-arrow-right fa-fw"></i>Make an appointment.</li>
                    <li><i class="fa fa-arrow-right fa-fw"></i>Make an appointment.</li>
                    <li><i class="fa fa-arrow-right fa-fw"></i>Make an appointment.</li>
                    <li><i class="fa fa-arrow-right fa-fw"></i>Make an appointment.</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li><i class="fa fa-arrow-right fa-fw"></i>Make an appointment.</li>
                    <li><i class="fa fa-arrow-right fa-fw"></i>Make an appointment.</li>
                    <li><i class="fa fa-arrow-right fa-fw"></i>Make an appointment.</li>
                    <li><i class="fa fa-arrow-right fa-fw"></i>Make an appointment.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
