<section class="choose-problem">
    <div class="container-fluid">
        <div class="row">
            <h1 class="text-center">How can we help...?</h1>
            <div class="row">
                <div class="col-sm-6 col-md-3 item housing animated fadeIn" data-toggle="tooltip" data-placement="top" data-html="true" data-original-title="<p>Housing & homelessness</p>">
                    <a href="/faq/">
                        <div class="item-inner">
                            <i class="fa fa-home"></i>
                            <h2 class="item-title">Housing &<br /> homelessness</h2>
                        </div>
                    </a>
                </div>
                    <div class="col-sm-6 col-md-3 item benefits animated fadeIn" data-toggle="tooltip" data-placement="top" data-html="true" data-original-title="<p>Welfare & Benefits</p>">
                    <a href="/faq/#mobile">
                        <div class="item-inner">
                            <i class="fa fa-balance-scale"></i>
                            <h2 class="item-title">Welfare &<br /> Benefits</h2>
                        </div>
                    </a>
                </div>
                    <div class="col-sm-6 col-md-3 item immigration animated fadeIn" data-toggle="tooltip" data-placement="top" data-html="true" data-original-title="<p>Immigration & asylum</p>">
                    <a href="/faq/#account">
                        <div class="item-inner">
                            <i class="fa fa-users"></i>
                            <h2 class="item-title">Immigration &<br /> asylum</h2>
                        </div>
                    </a>
                </div>
                    <div class="col-sm-6 col-md-3 item employment animated fadeIn" data-toggle="tooltip" data-placement="top" data-html="true" data-original-title="<p>Employment & discrimination</p>">
                    <a href="/faq/#payments">
                        <div class="item-inner">
                            <i class="fa fa-gavel"></i>
                            <h2 class="item-title">Employment &<br /> discrimination</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="/register/" style="font-size:21px; color:#3b497e;"><i class="fa fa-caret-right fa-fw"></i>I have different problem</a>
                </div>
            </div>
            </div>
    </div>
</section>

@Html.Partial("~/Views/Home/Partial/speak_to_us.cshtml")
@Html.Partial("~/Views/Home/Partial/chat-with-us.cshtml")