<section class="contact-us">
    <div class="container">
        <div class="row">
            <h1>Contact Us</h1>
            <div class="col-sm-push-3 col-sm-3" data-toggle="tooltip" data-placement="top" data-html="true" data-original-title="Chat with us">
                <a href="javascript:$('#qnimate').addClass('popup-box-on');">
                    <i class="fa fa-wechat icon"></i>
                    <h2>Chat with us</h2>
                </a>
            </div>
            <div class="col-sm-push-3 col-sm-3" data-toggle="tooltip" data-placement="top" data-html="true" data-original-title="Open a case">
                <a href="/register/">
                    <i class="fa fa-key icon"></i>
                    <h2>Open a case</h2>
                </a>
            </div>
            <div class="col-md-12">
                <p><i class="fa fa-phone"></i> Office: 020 8985 5236 – 10am to 5pm (Monday to Friday)</p>
                <p><i class="fa fa-phone"></i> Advice Line: 020 8985 8364 – 10am to 1pm (Mondays and Wednesdays only)</p>
                <p><i class="fa fa-envelope"></i> test@test.com<p>
            </div>
        </div>
    </div>
</section>