<table class="table table-striped">
    <thead> <tr>
    <th>#</th>
    <th>Name</th>
    <th>Subject Area</th>
    <th>Last Update</th>
    <th>Transfer</th>
</tr> </thead>
    <tbody>
        <tr>
            <th scope="row"><a href="/ticket/?id=1">1</a></th>
            <td>Bill Eakin</td>
            <td>Employment & discrimination</td>
            <td>19 March 2016</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Refer
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a id="agancy-1" href="javascript:transferTo('agancy-1','Department for Work and Pensions')">Department for Work and Pensions</a></li>
                        <li><a id="agancy-2" href="javascript:transferTo('agancy-2','Hackney Council')">Hackney Council</a></li>
                        <li><a id="agancy-3" href="javascript:transferTo('agancy-3','Jobcentre Plus')">Jobcentre Plus</a></li>
                        <li><a id="agancy-4" href="javascript:transferTo('agancy-4','NHS')">NHS</a></li>
                        <li><a id="agancy-5" href="javascript:transferTo('agancy-5','Samaritans')">Samaritans</a></li>
                        <li><a id="agancy-6" href="javascript:transferTo('agancy-6','Shelter')">Shelter</a></li>
                        <li><a id="agancy-7" href="javascript:transferTo('agancy-7','StepChange')">StepChange</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row"><a href="/ticket/?id=2">2</a></th>
            <td>Larry the Bird</td>
            <td>Immigration & asylum</td>
            <td>12 March 2016</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Refer
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a id="agancy-1" href="javascript:transferTo('agancy-1','Department for Work and Pensions')">Department for Work and Pensions</a></li>
                        <li><a id="agancy-2" href="javascript:transferTo('agancy-2','Hackney Council')">Hackney Council</a></li>
                        <li><a id="agancy-3" href="javascript:transferTo('agancy-3','Jobcentre Plus')">Jobcentre Plus</a></li>
                        <li><a id="agancy-4" href="javascript:transferTo('agancy-4','NHS')">NHS</a></li>
                        <li><a id="agancy-5" href="javascript:transferTo('agancy-5','Samaritans')">Samaritans</a></li>
                        <li><a id="agancy-6" href="javascript:transferTo('agancy-6','Shelter')">Shelter</a></li>
                        <li><a id="agancy-7" href="javascript:transferTo('agancy-7','StepChange')">StepChange</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row"><a href="/ticket/?id=3">3</a></th>
            <td>Jacob Thornton</td>
            <td>Benefits &appeals</td>
            <td>06 March 2016</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Refer
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a id="agancy-3-1" href="javascript:transferTo('agancy-3-1','Department for Work and Pensions')">Department for Work and Pensions</a></li>
                        <li><a id="agancy-3-2" href="javascript:transferTo('agancy-3-2','Hackney Council')">Hackney Council</a></li>
                        <li><a id="agancy-3-3" href="javascript:transferTo('agancy-3-3','Jobcentre Plus')">Jobcentre Plus</a></li>
                        <li><a id="agancy-3-4" href="javascript:transferTo('agancy-3-4','NHS')">NHS</a></li>
                        <li><a id="agancy-3-5" href="javascript:transferTo('agancy-3-5','Samaritans')">Samaritans</a></li>
                        <li><a id="agancy-3-6" href="javascript:transferTo('agancy-3-6','Shelter')">Shelter</a></li>
                        <li><a id="agancy-3-7" href="javascript:transferTo('agancy-3-7','StepChange')">StepChange</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row"><a href="/ticket/?id=4">4</a></th>
            <td>Mark Otto</td>
            <td>Housing & homelessness</td>
            <td>02 March 2016</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Refer
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a id="agancy-1" href="javascript:transferTo('agancy-1','Department for Work and Pensions')">Department for Work and Pensions</a></li>
                        <li><a id="agancy-2" href="javascript:transferTo('agancy-2','Hackney Council')">Hackney Council</a></li>
                        <li><a id="agancy-3" href="javascript:transferTo('agancy-3','Jobcentre Plus')">Jobcentre Plus</a></li>
                        <li><a id="agancy-4" href="javascript:transferTo('agancy-4','NHS')">NHS</a></li>
                        <li><a id="agancy-5" href="javascript:transferTo('agancy-5','Samaritans')">Samaritans</a></li>
                        <li><a id="agancy-6" href="javascript:transferTo('agancy-6','Shelter')">Shelter</a></li>
                        <li><a id="agancy-7" href="javascript:transferTo('agancy-7','StepChange')">StepChange</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<br><br><br><br><br>
<br><br><br><br><br>

<script>
    function transferTo(element,agancy)
    {
        $('#' + element).parents('.dropdown').find('button').html("Refer to " + agancy);
    }
</script>